#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x17L
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"  // Language (English - United States)
    BEGIN
      VALUE "CompanyName", "RYC"
      VALUE "FileDescription", "Bible Workspace"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "Bible Workspace"
      VALUE "OriginalFilename", "app_bible_workspace.exe"
      VALUE "ProductName", "Bible Workspace"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200  // English (US)
  END
END

1 24 "app_bible_workspace.exe.manifest"
IDI_ICON1	ICON	"icon.ico"
